:root {
  --text-primary-color: #FFFFFF;
  --text-secondary-color: #A1A1AA;
  --bg-menu-color: #27272A;
  --bg-main-color: #202124;
  --line-color: #C6C6C6;

  --border-var: 1px solid #414144;
  --transition-var: all .2s ease;
}